<launch>
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find virat_description)/urdf/virat.urdf'" />

	<!-- send fake joint values -->
	<node name="rviz_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="TRUE" />
	</node>

	<!-- Combine joint values -->
	<node name="rviz_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- Show in Rviz   -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find virat_description)/rviz/virat.rviz" />

</launch>